TRACKER_/Example.Client/Service References/Tracker/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/FeaTracker.Services.Tracker" />
  <xs:element name="Subscribe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FeaTracker.Services.Tracker" minOccurs="0" name="subscription" nillable="true" type="q1:Subscription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubscribeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Unsubscribe">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnsubscribeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UnsubscribeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>